<!DOCTYPE html>
<html>

{% extends "bootstrap/base.html" %}

{% block title%}
    A stylish Page
{%endblock%}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block content %}

<div class="jumbotron text-center">

	<h1>Registration, there!</h1>
<form action="{{ url_for('registeruser') }}" method="post">
<div class="form-group" >
<input tyep="text" name="first_name" class="form-control" placeholder="First Name" required><br>

<input type="text" name="last_name"class="form-control" placeholder="Last Name" required><br>

<input type="text" name="email" class="form-control" placeholder="email" required> <br>

<input type="password" name="password" class="form-control" placeholder="Password" required> <br>
<input type="submit" name="submit_button" class="form-control btn btn-outline-success" value="Sign Up">
</div>
</form>
<p>This is a really registration web page!</p>
</div>

<div class="jumbotron text-center">
<h3>	{{ moment(current_time).format('LLLL')}} </h3>

<p>	{{ moment(current_time).fromNow(refresh=True )}}</p>


{% endblock %}

</html>